table
{
	border-collapse: collapse;
	background-color: rgba(200, 200, 200, 0.2);
	border: 1px solid #A0A0A0;
	cursor: default;
}

table tr:hover
{
	background-color: rgba(200, 200, 200, 0.4);
}

table th
{
	padding: 2px;
	background-color: rgba(200, 200, 200, 0.6);
	border: 1px solid #A0A0A0;
}

table th:hover
{
	background-color: rgba(200, 200, 200, 1);
}

table td
{
	padding: 2px;
	padding-left: 5px;
	padding-right: 5px;
	border-left: 1px solid #A0A0A0;
	border-right: 1px solid #A0A0A0;
	vertical-align: top;
}

table td:hover
{
	background-color: rgba(200, 200, 200, 0.6);
}
